<ion-header>
  <ion-navbar>
      <button ion-button color="dark" icon-start float-left clear>
          <ion-icon name='arrow-back'></ion-icon>
          
  </button>
      <button menuToggle *ngIf="!selectedItem">
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
</ion-content>
      